* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: sans-serif;
  color: #444;
}

/* centering the page */
.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 60px;
  /* height: 40px; */
  margin-top: 20px;
  border-radius: 3px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #465959;
}
h1 {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;

  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
  font-size: 18px;
}*/

aside {
  background-color: #f7f7f7;
  padding: 50px 0;
  width: 500px;
  border-radius: 3px;
}

.author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
}

/* first#challenge */
.related {
  list-style: none;
}

#copyright {
  font-size: 16px;
}

/* pseudo-classes */
/* li:first-child {
  color: #2fa39f;
} */

/* article p:first-of-type {
  font-style: italic;
} */

/* li:nth-child(even) {
  color: bisque;
} */

/* styling links */

a:link {
  color: #2fa39f;
  text-decoration: none;
  margin-right: 16px;

  display: inline-block;
}

/* insted of seperator */
.language-nav a:link:last-child {
  margin-right: 0;
  margin-left: 16px;
}

a:visited {
  color: #2fa39f;
}

a:hover {
  color: #621cb3;
  text-decoration: underline;
}

a:active {
  background-color: #28f3f33d;
  font-style: italic;
}

/* universal selector applied to all elements */
/* * {
  opacity: 0.7;
} */

ul,
ol {
  margin-left: 33px;
  margin-bottom: 20px;
}

/* absluto positioning */
.reactions {
  position: absolute;
  right: 50;
  bottom: 50;
}

/* pseudo elements */

h2::after {
  content: "Trending🔥";
  font-size: 15px;
  color: #621cb3;
  font-family: sans-serif;
  background-color: #2fa39f;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 40px;
  margin-top: 15px;
  display: inline-block;
}

/* RTL styles */
[dir="rtl"] a:link {
  margin-left: 16px;
  margin-right: 0;
}

[dir="rtl"] nav a:link {
  margin-right: 0;
  margin-left: 16px;
}

[dir="rtl"] nav a:link:last-child {
  margin-left: 0;
}

[dir="rtl"] .language-nav a:link {
  margin-left: 0;
}

[dir="rtl"] h1::first-letter {
  margin-left: 0;
}

[dir="rtl"] h2::after {
  margin-left: 0;
  margin-right: 30px;
  content: "الأكثر مشاهدة🔥";
}

[dir="rtl"] .reactions {
  right: auto;
  left: 50px;
}

[dir="rtl"] .seberator {
  margin-left: 16px;
  margin-right: 16px;
}

[dir="rtl"] .related {
  margin-right: 33px;
}

/* resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: #2fa39f;
}

.text {
  color: purple;
}

footer p {
  color: green;
} */

/* h2::first-letter {
  font-size: 60px;
}

p::first-line {
  color: #621cb3;
}

/* pseudo elements */
/* ul,
ol {
  list-style-type: none;
}

li::before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #2fa39f;
  margin-right: 10px;
  display: inline-block;
} */

/* Floats */
/* .author {
  float: left;
  margin: 20px 10px;
}

.author-image {
  float: left;
  margin-bottom: 20px;
}

h1 {
  float: left;
}

.nav-content {
  float: right;
}

.main-nav {
  float: left;
}

.language-nav {
  float: right;
  margin-left: 60px;
}

/* heading clearfix 
.main-header::after {
  content: "";
  display: block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  position: sticky;
  top: 50px;
  width: 300px;
  float: right;
  padding: 50px 40px;
}

footer {
  clear: both;
}

.related {
  margin-left: 0;
}

h4 {
  margin-bottom: 30px;
}

/* rtl floating elements 
[dir="rtl"] h1 {
  float: right;
}

[dir="rtl"] .nav-content {
  float: left;
}

[dir="rtl"] .language-nav {
  float: left;
  margin-right: 60px;
}

[dir="rtl"] .main-nav {
  float: right;
}

[dir="rtl"] .author {
  float: right;
}

[dir="rtl"] .author-image {
  float: right;
}

[dir="rtl"] article {
  float: right;
}

[dir="rtl"] aside {
  float: left;
}

[dir="rtl"] body {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
} */

/* flexbox */
.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 80px;
}

.author {
  margin-bottom: 0px;
}

.author-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

aside {
  flex: 0 0 350px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.related-author {
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 5px;
  font-size: 16px;
}

.related-link {
  font-weight: bold;
  font-size: 20px;
}
